<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>SGO6</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>

  </head>

  <body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
    <!-- =========================
         PRE LOADER
    ============================== -->
    <div class="preloader">
    	<div class="sk-rotating-plane"></div>
    </div>
    
    <div id="page">
      <%= render "layouts/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
