<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>SGO6</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false' %>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>

  </head>

  <body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
    <!-- =========================
         PRE LOADER
    ============================== -->
    <!-- <div class="pre-loader">
      <span class="preloader-gif">
        <div class="sk-rotating-plane"></div>
      </span>

    </div> -->
<!-- <div class="pre-loader"><span class="preloader-gif"></span></div> -->
    <div class="preloader">
      <div class="sk-rotating-plane"></div>
    </div>

    <div id="page">
      <%= render "layouts/navbar" %>
      <%= yield %>
    </div>
    <%= render partial: "layouts/notify" %>
  </body>
</html>
